body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.profile-container {
    position: relative; /* Positioning context for the black div */
    text-align: center; /* Align contents in the center */
}

.black-div1 {
    width: 100%;
    background-color: black;
    height: 20px
}

.black-div {
    background-color: black;
    position: absolute; /* Position the black div absolutely */
    top: 20px; /* Position it at the top of the profile container */
    width: 100%; /* Take up the entire width of the screen */
    height: 50%; /* Take up half of the screen height */
    z-index: 1; /* Push the black div in front of other content */
}

.profile-image {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image round */
    position: relative; /* Positioning context for the profile image */
    z-index: 2; /* Push the profile image in front of the black div */
}

.profile-name {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    z-index: 2; /* Ensure the name is above the black div */
    position: relative; /* Ensure stacking context with profile image */
}

/* Styles for the container div */
.data-div {
    display: flex;
}

/* Styles for the graph div */
.graph-div {
    width: 50%; /* Take up 50% of the container width */
    height: 100vh; /* Take up full height of the viewport */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in width */
}

/* Styles for the text div */
.text-div {
    width: 50%; /* Take up 50% of the container width */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in width */
}

/* Additional styles for the paragraph */
.text-div p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Adjust font size as needed */
}